{% extends "crim/base0.html" %}

{% block content %}
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

    <title>DUI Cases in Judge Jeske's Courtroom</title> </head>

<center>
				<h2 class="site-title">DUI Cases in Judge Jeske's Courtroom</a></h2></div>
</center>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
In Judge Jeske's courtroom 51% of people accused of a DUI are convicted. 37% have their case reduced to the lesser charge of Reckless Driving, and only 12% of DUI cases are dismissed.</p>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Outcome', 'Percent'],
          ['Convicted of DUI',     51],
          ['Dismissed',      12],
          ['Reduced to Reckless Driving',  37],
        ]);

        var options = {
          align: 'center',
          backgroundColor: {fill: 'transparent'},
          chartArea:{width:'90%'},
          is3D: true,
          title: "What Happens in DUI Cases in Judge Jeske's Courtroom",
          legend: {position: 'bottom',
      				maxLines: '3',
      				textStyle: {fontSize: '16'}
      			},
      	  slices: {
            0: { color: '#121ca5' },
            1: { color: '#4651f2' },
            2: { color: '#84b1f9'}},
      	  pieSliceText: 'percentage',
      	  tooltip: {text: 'percentage'},
      	  animation: {"startup": true}
        };



        var chart = new google.visualization.PieChart(document.getElementById('jeske-dui-outcomes'));
        chart.draw(data, options);
      }

    </script>

    <div class='chart' id="jeske-dui-outcomes" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for DUI cases in Judge Jeske's courtroom?
</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Nearly everyone in Judge Jeske's courtroom who was accused of DUI has an attorney for their case. The majority of people (68%) hire a private attorney, while about a quarter (25%) use the public defender. Only 7% of people do not hire an attorney, which is called "Pro Se."</p>



    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Attorney', 'Percent', { role: "style" }],
          ['Private Attorney',     68, "color: #121ca5"],
          ['Public Defender',      25, "color: #4651f2"],
          ['No Attorney',  7, "color: #84b1f9"],
        ]);

        var options = {
          align: 'center',
          backgroundColor: {fill: 'transparent'},
          chartArea:{width:'90%'},
          is3D: true,
          legend: {position: 'bottom',
      				maxLines: '3',
      				textStyle: {fontSize: '16'}
      			},
      	  title: "Who Hired an Attorney for Their DUI Case in Judge Jeske's Courtroom",
      	  pieSliceText: 'percentage',
      	  slices: {
            0: { color: '#121ca5' },
            1: { color: '#4651f2' },
            2: { color: '#84b1f9'}},
      	  tooltip: {text: 'percentage'},
      	  animation: {"startup": true}
        };



        var chart = new google.visualization.PieChart(document.getElementById('DUI-atty-hire'));
        chart.draw(data, options);
      }

    </script>

    <div class='chart' id="DUI-atty-hire" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does hiring a private attorney make a difference?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
People who hire a private attorney were able to avoid a DUI conviction 54% of the time, while people who use the public defender avoided a DUI conviction only 37% of the time. People who do not have an attorney ("Pro Se") avoid a DUI conviction 40% of the time.</p>

<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
        ["Private Attorney", 54, "color: #121ca5", '%'],
        ["Public Defender", 37, "color: #4651f2",'%'],
        ["No Attorney", 40, "color: #84b1f9", '%']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage', format: '#\'%\''},

        title: "Percent of People who Avoid a DUI Conviction in Judge Jeske's Courtroom",
        titlePosition: 'out',


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("jeske-dui-avoid"));
      chart.draw(view, options);
  }



  </script>

<div id="jeske-dui-avoid" class="chart" align="center" size="75%"></div>


<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The average for judges in Hillsborough County is slightly higher for private attorneys, and slightly lower for those represented by the public defender. People who hire a private attorney are able to avoid a DUI conviction 51% of the time, while people who use the public defender only avoid a DUI conviction 40% of the time. People who go without an attorney avoid a DUI conviction only 26% of the time.</p>


 <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" } ],
        ["Private Attorney", 51, "color: #121ca5"],
        ["Public Defender", 40, "color: #4651f2"],
        ["No Attorney", 26, "color: #84b1f9"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage'},
        title: "Percent of People who Avoided a DUI Conviction in Hillsborough County",


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("hill_dui_avoidance"));
      chart.draw(view, options);
  }

  </script>

<div id="hill_dui_avoidance" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Why is avoiding a DUI conviction so important?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
DUI convictions not only carry stiff penalties, they can have lasting economic consequences for both your insurance and employment. If you are convicted of a DUI, your car insurance rates will increase and can add up to thousands of dollars
over time. If you hold a professional license a DUI conviction can put
your ability to work in jeopardy.</p>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
A Comparison of DUI and Reckless Driving Penalties in Hillsborough County:</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
These are the average penalties for First-Time DUI and
Reckless Driving convictions for Hillsborough county.</p>

<p style="align: center;">
<table style="height: auto; margin:1em auto"  width="590"> <tbody style="align:center"> <tr> <td
style="text-align: center;" width="91"><strong>Penalties</strong></td>
<td style="text-align: center;" width="91"><strong>DUI </strong></td>
<td style="text-align: center;" width="91"><strong>Reckless
Driving</strong></td> </tr> <tr> <td style="text-align: center;"
width="91"><strong>Fines</strong></td> <td style="text-align: center;"
width="91">$1,030.00</td> <td style="text-align: center;"
width="91">$390.00</td> </tr> <tr> <td style="text-align: center;"
width="91"><strong>Probation</strong></td> <td style="text-align:
center;" width="91">12 Months</td> <td style="text-align: center;"
width="91">12 Months</td> </tr> <tr> <td style="text-align: center;"
width="91"><strong>Community Service</strong></td> <td
style="text-align: center;" width="91">50 Hours</td> <td
style="text-align: center;" width="91">50 Hours</td> </tr> <tr> <td
style="text-align: center;" width="91"><strong>6 Month Driver's
License Suspension</strong></td> <td style="text-align: center;"
width="91">Yes</td> <td style="text-align: center;" width="91">No</td>
</tr> <tr> <td style="text-align: center;" width="91"><strong>10 Day
Vehicle Impound</strong></td> <td style="text-align: center;"
width="91">Yes</td> <td style="text-align: center;" width="91">No</td>
</tr> <tr> <td style="text-align: center;" width="91"><strong>DUI
School</strong></td> <td style="text-align: center;" width="91">Yes</td>
<td style="text-align: center;" width="91">Yes</td> </tr> <tr> <td
style="text-align: center;" width="91"><strong>Increased Insurance
Requirement</strong></td> <td style="text-align: center;"
width="91">Yes</td> <td style="text-align: center;" width="91">No</td>
</tr> </tbody></table> </p>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Can I get my DUI case dismissed or dropped?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Only 10% of  DUI cases in Judge Jeske's courtroom are dismissed or dropped. People who hire a private attorney have their case dropped or dismissed only 9% of the time, while people represented by the Public Defender have their case dropped or dismissed 18% of the time. People who go without an attorney ("Pro Se") get their case dismissed or dropped 15% of the time.</p>


  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" } ],
        ["Private Attorney", 9, "color: #121ca5"],
        ["Public Defender", 18, "color: #4651f2"],
        ["No Attorney", 15, "color: #84b1f9"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage'},
        title: "Percent of DUI Cases Dismissed in Judge Jeske's Courtroom",


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("jeske_dui_diss"));
      chart.draw(view, options);
  }



  </script>

<div id="jeske_dui_diss" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What about DUI cases reduced to the lesser charge of Reckless Driving?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
37% of DUI cases in Judge Jeske's courtroom are reduced to the lesser charge of Reckless Driving. People who hire a private attorney have their case reduced to Reckless Driving 45% of the time, while people represented by the Public Defender have their case reduced only 19% of the time. People who go without an attorney ("Pro Se") get their case reduced to Reckless Driving 25% of the time.</p>

<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
        ["Private Attorney", 45, "color: #121ca5", '%'],
        ["Public Defender", 19, "color: #4651f2",'%'],
        ["No Attorney", 25, "color: #84b1f9", '%']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage'},

        title: "Percent of DUI Cases Reduced to Reckless Driving in Judge Jeske's Courtroom",
        titlePosition: 'out',


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("jeske_dui_reduced"));
      chart.draw(view, options);
  }



  </script>

<div id="jeske_dui_reduced" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Shouldn't I just represent myself?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Only 7% of people accused of DUI in Judge Jeske's courtroom represent themselves. These people, on average, are far more likely to receive a DUI conviction than people who hire private attorneys.</p>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >People who go without an attorney are convicted of a DUI charge 60% of the time, while those with the public defender are convicted 63% of the time. People who hire a private attorney are convicted 46% of the time.</p>

<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
        ["Private Attorney", 46, "color: #121ca5", '%'],
        ["Public Defender", 63, "color: #4651f2",'%'],
        ["No Attorney", 60, "color: #84b1f9", '%']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage', format: '#\'%\''},

        title: "Percent of DUI Convictions in Judge Jeske's Courtroom",
        titlePosition: 'out',


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("jeske_dui_conv"));
      chart.draw(view, options);
  }



  </script>

<div id="jeske_dui_conv" class="chart" align="center" size="75%"></div>

{% endblock %}
