
{% extends "fl-discrim-helper/base0.html" %}

{% block content %}


    <center>

    <h2>Florida Public Accomodation Discrimination Complaint Builder:</h2>
  </center>
  <p><justify>Welcome to the Florida Public Accomodation Discriminaiton Complaint
    Builder. To generate your complaint, fill in all of the information below.</p>

<blockquote>
    <center><b>Your personal information:</b></center>
        <form action="" method="post">
{% csrf_token %}
  <p>{{ cx_pub_acc_form.as_p}}</p>
</blockquote>

<blockquote>
  <center><b> Please provide the name of a person we can contact if we are unable to reach you:</b></center>
  <p>{{ op_pub_acc_form.as_p}}</p>
</blockquote>

<blockquote>
  <center><b> I believe that I was discriminated against by the following organization:</b></center>
  <p>{{ disorg_pub_acc_form.as_p}}</p>
</blockquote>

<blockquote>
  <center><b> Organization Representative Contact Information (If known):</b></center>
  <p>{{ reporg_pub_acc_form.as_p}}</p>

</blockquote>

<blockquote>
  <center><b> What is the reason for your claim of public accomodation discrimination?</b></center>
  <p>{{ disreason_pub_acc_form.as_p }}

<br><br>


  <p>Race: {{ disreason_pub_acc_form.reason_race }} &nbsp Your Race: {{ disreason_pub_acc_form.reason_race_choose }}</p>

  <p>Please describe what happend: </p>
  <p>{{ disreason_pub_acc_form.reason_description }}</p>

</blockquote>
      <center>
          <p><input type="submit" value="Create Complaint"></p>
        </form>
      </blockquote>
    </center>
<body><td>

</justify>
</body>

{% endblock %}
