<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>My Court Case</title>
    {% endif %}

{% load static %}
<link rel='stylesheet' id='style-css'  href='{% static 'main/stylesheet.css' %}' type='text/css' media='all' />




</head>


  <body class="home page page-id-10 page-template-default navbar-fixed">

  <div class="wrapper">
  	<div class="header-wrapper">
  				<header class="header" style="background-image: url(http://res.cloudinary.com/hjbqakjln/image/upload/v1474467770/background_qx4qte.png)" role="banner">
  			<div class="navbar">
  				<div class="container clearfix">
  										<a class="brand" href="/">MY COURT CASE</a>

  					<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
  				</div>
  			</div>
  			<div class="header-inner container title-center">
  				<h1 class="site-title"><a href="http://www.mycourtcase.org" title="MY COURT CASE" rel="home">MY COURT CASE</a></h1><h3 class="site-description">Your case, your choices, you're stupid</h3>			</div>
  		</header>
  	</div>
  	<main class="main container clearfix" role="main">

    {% block content %}












    {% endblock %}

<br><br><br>

<footer>
    <div class="wrapper">
    	<div class="footer-wrapper">
                      <center>
    										<a href="/">HOME</a> &nbsp &nbsp &nbsp<a href="/">ABOUT</a>
    			</div>
    			<div class="footer-inner container title-center">

    		</footer>
    	</div>
    	<main class="main container clearfix" role="main">



</body>

</html>
