{% extends "main/base.html" %}

{% block content %}
<body>

  <form method="post" >
    {% csrf_token %}
  <center>

            <a href="main/search.html" id="get started" class="button"><span>Get Started</span></a>
  </center>

  </form>

  <h2 class="landing-section-heading" style="text-align: center;"><strong>
    It's Your Case. Take Control. </strong></h2>

  <p class="landing-section-heading" style="text-align: justify;">
    Court shouldn&#8217;t be confusing. Our system analyzes
    hundreds of thousands of cases like yours so that you can find
    out what happened in those cases and use that information to
    your advantage.</p>


  <h2 class="landing-section-heading" style="text-align: center;">
    Our Detailed Analysis. For Free.</h2>

  <p class="landing-section-heading" style="text-align: justify;">
    We've analyzed the details of hundreds of thousands of court
    cases from start to finish. Use our system to find out if hiring
    a private attorney gives you an edge in your case, as well as how
    judges rule and how cases resolve in order to determine what choices
    you can make to get the best results.</p>

    <h2 class="landing-section-heading" style="text-align: center;">
      Customized and Easy-to-Use Court Forms</h2>

    <p class="landing-section-heading" style="text-align: justify;">
      If you're filing a case or have just been served, our
    court form assistants guide you through the details. Just fill
    in the information online, click Create, and let our form engine
    do the rest.</p>

    <h2 class="landing-section-heading" style="text-align: center;">
      Intelligent Guidance</h2>

    <p class="landing-section-heading" style="text-align: justify;">
      Our legal analysis engine not only tells you what results are most
      common in cases like yours - it can also tell you when you're better off
      hiring a private attorney, and when you're not. Our system pinpoints
      the top-performing attorneys for each case type and judge, so if it does
      recommend hiring an attorney you can easily make an intelligent decision,
      based on real-world results. </p>


<br>

<h4>
</div><div  class="row  first_row"><div  class="col-sm-6  first_col"><div role="field" data-field-wrapper="fld_7795160" class="form-group">

</body>


{% endblock %}
