{% extends "main/base.html" %}

{% block content %}





<h3 class="title-border" style="text-align: center;">Login or create a free account to get started:</h3>
<blockquote>
  <form  method="post" action "">
      {% csrf_token %}
<h4> {{ form.as_p }}</h4>

<br>
<br>
        <center>  <p><input type="submit" value="login" /></p></center>
<br>
<br>
</form>
</blockquote>
Create a free account:
<h4>
</div><div  class="row  first_row"><div  class="col-sm-6  first_col"><div role="field" data-field-wrapper="fld_7795160" class="form-group">




{% endblock %}
