<title>Petit Theft Cases in Judge Farr's Courtroom</title>

{% extends "crim/base0.html" %}

{% block content %}

<center>
		<h2 class="site-title">Petit Theft Cases in Judge Farr's Courtroom</a></h2></div>
</center>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

50% of people charged with Petit Theft are convicted. 25% of these cases are dismissed, and 25% of people receive a withhold of adjudication, meaning that while they may receive a penalty for the crime, they do not receive a conviction on their record.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Outcome', 'Percent'],
			['Convicted',     50],
			['Dismissed',      25],
			['Withhold of Adjudication',  25],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "What Happens in Petit Theft Cases in Judge Farr's Courtroom",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('pt-outcomes'));
		chart.draw(data, options);
	}

</script>

<div class='chart' id="pt-outcomes" align="center" size="75%"></div>



<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for Petit Theft cases
in Judge Farr's courtroom?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

Only 20% of people charged with Petit Theft hire a private attorney in Judge Farr's courtroom. 60% go with the Public Defender. 20% decide to handle their cases on their own, which is called "Pro Se."

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Attorney Hire', 'Percent'],
			['Private Attorney',     20],
			['Public Defender',      60],
			['No Attorney',  20],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "Who Hires an Attorney for Their Petit Theft Case in Judge Farr's Courtroom",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('pt-atty-hire'));
		chart.draw(data, options);
	}

</script>

<div class='chart' id="pt-atty-hire" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does hiring a private attorney make a difference?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Having a private attorney is a clear advantage in Judge Farr's courtroom. People who hire a private attorney are convicted of Petit Theft 26% of the time, while people who use the public defender are convicted 62% of the time. People who go without an attorney ("Pro Se") are convicted 38% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 26, "color: #121ca5", '%'],
			 ["Public Defender", 62, "color: #4651f2",'%'],
			 ["No Attorney", 38, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Petit Theft in Judge Farr's Courtroom",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("PT-CONV_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="PT-CONV_BY_ATTY" class="chart" align="center" size="75%"></div>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Across Hillsborough County people who hire a private attorney are convicted of Petit Theft 19% of the time, while people who use the public defender are convicted 53% of the time. People without an attorney are convicted 24% of the time.</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 19, "color: #121ca5", '%'],
			 ["Public Defender", 53, "color: #4651f2",'%'],
			 ["No Attorney", 24, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Petit Theft in Hillsborough County",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("HC-PT-CONV_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="HC-PT-CONV_BY_ATTY" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Can I get my Petit Theft case dismissed or dropped?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

In Judge Farr's courtroom, people who hire a private attorney have their case dismissed or dropped 38% of the time, while people who use the Public Defender have their case dismissed or dropped 18% of the time. People who go without an attorney ("Pro Se") have their case dismissed or dropped 34% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 38, "color: #121ca5", '%'],
			 ["Public Defender", 18, "color: #4651f2",'%'],
			 ["No Attorney", 34, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Petit Theft Cases Dismissed in Judge Farr's Courtroom",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("PT-DISS_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="PT-DISS_BY_ATTY" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What about getting a Withhold of Adjudication?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

People who hire a private attorney receive a withhold of adjudication 35% of the time, while people who use the Public Defender receive a withhold of adjudication 20% of the time. People who go without an attorney ("Pro Se") receive a withhold of adjudication 27% of the time.


</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 35, "color: #121ca5", '%'],
			 ["Public Defender", 20, "color: #4651f2",'%'],
			 ["No Attorney", 27, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Petit Theft Cases in Judge Farr's Courtroom: Adjudication Withheld",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("PT-WH_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="PT-WH_BY_ATTY" class="chart" align="center" size="75%"></div>
<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What is the typical penalty for Petit Theft?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The most common penalty for Petit Theft is 6 months probation and a fine in the amount of $200-300.


</p>
{% endblock %}
