

{% extends "crim/base0.html" %}

{% block content %}
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

    <title>Battery Cases in Hillsborough County</title> </head>

<center>
				<h2 class="site-title">Battery Cases in Hillsborough County</a></h2></div>
</center>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

60% of people charged with Misdemeanor Battery in Hillsborough County have their cases dismissed. 23% of people are convicted, and 17% of people receive a withhold of adjudication, meaning that while they may receive a penalty for the crime, they do not receive a conviction on their record.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Outcome', 'Percent'],
			['Convicted',     23],
			['Dismissed',      60],
			['Withhold of Adjudication',  17],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "What Happens in Misdemeanor Battery Cases in Hillsborough County",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('hc-battery-outcomes'));
		chart.draw(data, options);
	}

</script>

<div class='chart' id="hc-battery-outcomes" align="center" size="75%"></div>
<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for Battery cases?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

21% of people accused of Battery hire a private attorney. The majority, 67%, use the public defender. Only 12% of people go without an attorney and handle their cases on their own, which is called “Pro Se.”

</p>


    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Attorney Hire', 'Percent'],
          ['Private Attorney',     21],
          ['Public Defender',      67],
          ['No Attorney',  12],
        ]);

        var options = {
          align: 'center',
          backgroundColor: {fill: 'transparent'},
          chartArea:{width:'90%'},
          is3D: true,
          title: "Who Hires an Attorney for Their Battery Case in Hillsborough County",
          legend: {position: 'bottom',
      				maxLines: '3',
      				textStyle: {fontSize: '16'}
      			},
      	  slices: {
            0: { color: '#121ca5' },
            1: { color: '#4651f2' },
            2: { color: '#84b1f9'}},
      	  pieSliceText: 'percentage',
      	  tooltip: {text: 'percentage'},
      	  animation: {"startup": true}
        };



        var chart = new google.visualization.PieChart(document.getElementById('hc-battery-atty-hire'));
        chart.draw(data, options);
      }

    </script>

    <div class='chart' id="hc-battery-atty-hire" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does hiring a private attorney make a difference?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
People who hire a private attorney were convicted of Misdemeanor Battery 11% of the time, while people who use the public defender are convicted 29% of the time. People without an attorney are convicted 12% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 11, "color: #121ca5", '%'],
			 ["Public Defender", 29, "color: #4651f2",'%'],
			 ["No Attorney", 12, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Battery in Hillsborough County",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_CONV_BY_ATTY"));
		 chart.draw(view, options);
 }
 </script>

<div id="HC_battery_CONV_BY_ATTY" class="chart" align="center" size="75%"></div>
<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">Can I get my Battery
case dismissed or dropped?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

People who hire a private attorney have their case dismissed or dropped 63% of the time, while people who use the Public Defender have their case dismissed or dropped 59% of the time, and people who go without an attorney (“Pro Se”) have their case dismissed or dropped 62% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 63, "color: #121ca5", '%'],
			 ["Public Defender", 59, "color: #4651f2",'%'],
			 ["No Attorney", 62, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Battery Cases Dismissed in Hillsborough County",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("HC_Battery_Diss_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="HC_Battery_Diss_BY_ATTY" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">What about a withhold of adjudication?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

Getting a withhold of adjudication means that you do not receive a conviction on your record, even though you may receive a penalty for the crime. This can be very important in applying for emloyment or on a background check. People who hire a private attorney receive a withhold of adjudication 26% of the time, while people who use the Public Defender receive a withhold of adjudication 12% of the time. People who go without an attorney (“Pro Se”) receive a withhold of adjudication 26% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 26, "color: #121ca5", '%'],
			 ["Public Defender", 12, "color: #4651f2",'%'],
			 ["No Attorney", 26, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Battery Cases in Hillsborough County: Adjudication Withheld",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_WH_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="HC_battery_WH_BY_ATTY" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does what judge I have make a difference?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

Judge Myers issues more battery convictions than any other Hillsborough County judge, while Judge Jeske issues the fewest.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	var inView = false;
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			["Judge", "Percentage", { role: "style" }, {role: "annotation"} ],
			["Farr", 22, "color: #121ca5", '%'],
			["Greco", 25, "color: #84b1f9", '%'],
			["Jeske", 18, "color: #121ca5", '%'],
			["Lefler", 27, "color: #4651f2",'%'],
			["McNeil", 20, "color: #84b1f9", '%'],
			["Myers", 31, "color: #4651f2",'%'],
			["Taylor", 21, "color: #84b1f9", '%'],
		]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,

											 { calc: "stringify",
											 sourceColumn: 1,
											 type: "string",
											 role: "annotation",
											 size: 50
												},
										 2]);

		var options = {
			inView: false,
			is3d: true,
			vAxis: {format: '#\'%\''},
			backgroundColor: {fill: 'transparent'},
			bar: {groupWidth: "85%"},
			legend: { position: "none" },
			animation: {
							duration: 1000,
							startup: true,
					},
			tooltip: {text: 'percentage', format: '#\'%\''},

			title: "Misdemeanor Battery Convictions by Judge in Hillsborough County",
			titlePosition: 'out',


		};
		var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_judge_conv"));
		chart.draw(view, options);
}

</script>

<div id="HC_battery_judge_conv" class="chart" align="center" size="75%"></div>


<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Judge McNeil dismisses more battery cases than any other Hillsborough County judge, while Judge Myers dismisses the fewest.
</p>

<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	var inView = false;
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			["Judge", "Percentage", { role: "style" }, {role: "annotation"} ],
			["Farr", 61, "color: #121ca5", '%'],
			["Greco", 59, "color: #84b1f9", '%'],
			["Jeske", 60, "color: #121ca5", '%'],
			["Lefler", 57, "color: #4651f2",'%'],
			["McNeil", 67, "color: #84b1f9", '%'],
			["Myers", 53, "color: #4651f2",'%'],
			["Taylor", 54, "color: #84b1f9", '%'],
		]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,

											 { calc: "stringify",
											 sourceColumn: 1,
											 type: "string",
											 role: "annotation",
											 size: 50
												},
										 2]);

		var options = {
			inView: false,
			is3d: true,
			vAxis: {format: '#\'%\''},
			backgroundColor: {fill: 'transparent'},
			bar: {groupWidth: "85%"},
			legend: { position: "none" },
			animation: {
							duration: 1000,
							startup: true,

					},
			tooltip: {text: 'percentage', format: '#\'%\''},

			title: "Misdemeanor Battery Cases Dismissed by Judge in Hillsborough County",
			titlePosition: 'out',


		};
		var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_judge_diss"));
		chart.draw(view, options);
}

</script>

<div id="HC_battery_judge_diss" class="chart" align="center" size="75%"></div>


<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Judge Taylor issues more withholds of adjudication in battery cases than any other Hillsborough County judge, while Judge McNeil issues the fewest.
</p>

<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	var inView = false;
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			["Judge", "Percentage", { role: "style" }, {role: "annotation"} ],
			["Farr", 17, "color: #121ca5", '%'],
			["Greco", 16, "color: #84b1f9", '%'],
			["Jeske", 22, "color: #121ca5", '%'],
			["Lefler", 16, "color: #4651f2",'%'],
			["McNeil", 14, "color: #84b1f9", '%'],
			["Myers", 16, "color: #4651f2",'%'],
			["Taylor", 25, "color: #84b1f9", '%'],
		]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,

											 { calc: "stringify",
											 sourceColumn: 1,
											 type: "string",
											 role: "annotation",
											 size: 50
												},
										 2]);

		var options = {
			inView: false,
			is3d: true,
			vAxis: {format: '#\'%\''},
			backgroundColor: {fill: 'transparent'},
			bar: {groupWidth: "85%"},
			legend: { position: "none" },
			animation: {
							duration: 1000,
							startup: true,

					},
			tooltip: {text: 'percentage', format: '#\'%\''},

			title: "Misdemeanor Battery Convictions by Judge in Hillsborough County",
			titlePosition: 'out',


		};
		var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_judge_wh"));
		chart.draw(view, options);
}

</script>

<div id="HC_battery_judge_wh" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What is the typical penalty for battery?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The typical penalty for battery is 6 months probation and a fine in the amount of $600-700.


</p>


{% endblock %}
