    <title>Battery Cases in Judge Greco's Courtroom</title>

{% extends "crim/base0.html" %}

{% block content %}



<center>
				<h2 class="site-title">Battery Cases in Judge Greco's Courtroom</a></h2></div>
</center>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

59% of  people charged with Misdemeanor Battery in Judge Greco's courtroom have their cases dismissed. 25% of people receive a conviction, and 16% receive a withhold of adjudication, meaning that while they may receive a penalty for the crime, they do not receive a conviction on their record.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Outcome', 'Percent'],
			['Convicted',     59],
			['Dismissed',      25],
			['Withhold of Adjudication',  16],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "What Happens in Misdemeanor Battery Cases in Judge Greco's Courtroom",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('battery-outcomes'));
		chart.draw(data, options);
	}

</script>
<div class='chart' id="battery-outcomes" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for Battery cases in Judge Greco's courtroom?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

25% of people accused of Battery hire a private attorney in Judge Greco's courtroom. 59% use the public defender. 16% of people go without an attorney and handle their cases on their own, which is called "Pro Se."

</p>
	<script type="text/javascript">
		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Attorney Hire', 'Percent'],
				['Private Attorney',     25],
				['Public Defender',      59],
				['No Attorney',  16],
			]);

			var options = {
				align: 'center',
				backgroundColor: {fill: 'transparent'},
				chartArea:{width:'90%'},
				is3D: true,
				title: "Who Hires an Attorney for Their Battery Case in Judge Greco's Courtroom",
				legend: {position: 'bottom',
						maxLines: '3',
						textStyle: {fontSize: '16'}
					},
				slices: {
					0: { color: '#121ca5' },
					1: { color: '#4651f2' },
					2: { color: '#84b1f9'}},
				pieSliceText: 'percentage',
				tooltip: {text: 'percentage'},
				animation: {"startup": true}
			};



			var chart = new google.visualization.PieChart(document.getElementById('battery-atty-hire'));
			chart.draw(data, options);
		}

	</script>

	<div class='chart' id="battery-atty-hire" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does hiring a private attorney make a difference?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Having a private attorney is a big advantage in Judge Greco's courtroom. People who hire a private attorney are convicted of Battery just 10% of the time, while people who use the public defender are convicted 35% of the time. People who go without an attorney ("Pro Se") are convicted 9% of the time.
</p>
<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 10, "color: #121ca5", '%'],
			 ["Public Defender", 35, "color: #4651f2",'%'],
			 ["No Attorney", 9, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Battery in Judge Greco's Courtroom",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("battery_CONV_BY_ATTY"));
		 chart.draw(view, options);
 }
 </script>

<div id="battery_CONV_BY_ATTY" class="chart" align="center" size="75%"></div>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The average conviction rate for judges in Hillsborough County is higher for people represented by private attorneys and lower for those represented by the public defender. People who hire a private attorney are convicted of Misdemeanor Battery 11% of the time, while people who use the public defender are convicted 29% of the time. People without an attorney are convicted 12% of the time.
</p>
<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 11, "color: #121ca5", '%'],
			 ["Public Defender", 29, "color: #4651f2",'%'],
			 ["No Attorney", 12, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Battery in Hillsborough County",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("HC_battery_CONV_BY_ATTY"));
		 chart.draw(view, options);
 }
 </script>

<div id="HC_battery_CONV_BY_ATTY" class="chart" align="center" size="75%"></div>
<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">Can I get my Battery
case dismissed or dropped?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
People who hire a private attorney have their case dropped or dismissed 67% of
the time, while people who use the Public Defender have their case dismissed or
dropped 53% of the time. People who go without an attorney ("Pro Se") have their
 case dismissed or dropped 68% of the time.
</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 23, "color: #121ca5", '%'],
			 ["Public Defender", 11, "color: #4651f2",'%'],
			 ["No Attorney", 22, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Battery Cases Dismissed in Judge Greco's Courtroom",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("Battery_Diss_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="Battery_Diss_BY_ATTY" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">What about a withhold of adjudication?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

People who hire a private attorney receive a withhold of adjudication 23% of the time, while people who use the Public Defender receive a withhold of adjudication 11% of the time. People who go without an attorney ("Pro Se") receive a withhold of adjudication 22% of the time.

</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 67, "color: #121ca5", '%'],
			 ["Public Defender", 53, "color: #4651f2",'%'],
			 ["No Attorney", 68, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Battery Cases in Judge Greco's Courtroom: Adjudication Withheld",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("battery_WH_BY_ATTY"));
		 chart.draw(view, options);
 }



 </script>

<div id="battery_WH_BY_ATTY" class="chart" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What is the typical penalty for battery?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The typical penalty for battery is 6 months probation and a fine in the amount of $600-700.


</p>


{% endblock %}
